.boxListsWrap {
  width: 55%;
  margin: 0 auto;
}
.boxLists {
  width: 100%;
  height: auto;
  color: $mainColor;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  &__title {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0 25px;
    cursor: pointer;
    &-1::before{
      padding-right: 25px;
      content: url("../img/icon-list-1.png");}
    &-2::before{
      padding-right: 25px;
      content: url("../img/icon-list-2.png");}
    &-3::before{
      padding-right: 25px;
      content: url("../img/icon-list-3.png");}
    &-4::before{
      padding-right: 25px;
      content: url("../img/icon-list-4.png");}
    &-5::before{
      padding-right: 25px;
      content: url("../img/icon-list-5.png");}
    &::after{
      position: absolute;
      content: url("../img/arrow_drop_down.png");
      margin-left: 10px;
      right: 25px;}
  }
  &__content {
    display: none;
    .boxListsContent{
      display: flex;
      padding: 25px;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 2em;
      align-items: center;
      .boxListsImg {
        border-radius: 3px;
        max-width: 250px;
        margin: 0 25px 0 0;
      }
      .boxListsText {
        &__one {
          padding-bottom: 1.8rem;
        }
      }
    }

  }
}
.boxLists-active {
  .boxLists__content {
    display: block;
  }
}