
.form {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-content: center;

  &__input {
    display: block;
    width: 280px;
    height: 50px;
    border: 1px $mainColor solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: $mainColor;
    &:nth-child(odd){
      margin-right: 20px;
    }
    &::placeholder {
      color: $mainColor
    }
  }

  &__textarea {
    width: 600px;
    height: 150px;
    border: 1px $mainColor solid;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 1.5em;

    &::placeholder {
      color: $mainColor
    }
  }

  &__checkbox {
    line-height: 55px;
    padding-right: 20px;
    .checkbox {
      display: none;
    }
    .labelCheck {
      position: relative;
      padding-left: 26px;
      text-transform: lowercase;
      cursor: pointer;
      &::before, &::after {
        position: absolute;
      }

      &::before {
        content: "";
        display: block;
        border: 1px solid $mainColor;
        border-radius: 2px;
        width: 14px;
        height: 14px;
        top: -1px
      }
      &::after {
        content: "\2714";
        font-size: 13px;
        left: 3px;
      }
    }
    .checkbox +.labelCheck::after {
      content:none;
    }
    .checkbox:checked +.labelCheck::after {
      content:"\2714";
    }
  }
}
