*{
    margin:0;
    padding:0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #efefef;
}

.header{
    width:100%;
    height: 70px;
    background: #30918f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-left: 5%;
}
.header__menu {
    margin-right: 5%;
}
.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}
.menu__items {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 40px;
    padding: 5px;
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 900px;
    height: 600px;
    position: relative;

}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.content__left {
    width: 45%;
    height: 525px;
    background: #37b0ae;
    position: relative;
    margin-left: 5%;
}
.logo {
    padding: 25px;
    position: absolute;
}
.blockImg1 img { width: 90%}
.blockImg1 {
    position: absolute;
    left: -45px;
    top: 84px;
    z-index: 1;
}
.blockImg2 img { width: 90%;}
.blockImg2 {
    position: absolute;
    top:300px;
    left: 40px;
}
.content__center {
    position: absolute;
    z-index: 1;
}
.thumbnailImg1 {
    background: rgba(255, 255, 255, 0.5);
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.6);
    transition: 0.3s;
}
.thumbnailImg1 img {width: 65px;}
.content__right {
    width: 50%;
    height: 600px;
    background: white;
    position: relative;
    color:#7c8d9c;
    font-size: 11px;
}
.blockRight {
    padding-left: 75px;
}
.blockText1 {
    text-transform: uppercase;
    color: #3a4d5c;
    font-size: 12px;
    line-height: 1.8;
    padding: 45px 0 25px 0;
 }
.titleRight {
    font-size: 24px;
    letter-spacing: 3px;
}
.blockText2 {
    text-transform: uppercase;
    line-height: 2.5;
    color: #3a4d5c;
}
.blockText2__list {
    list-style: none;
    text-transform: none;
    color:#7c8d9c;
}
.blockText3 {
    display: flex;
    flex-direction: row;
}
.blockText3__list {
    list-style: none;
    margin-right: 20px;
    text-transform: uppercase;
    padding: 25px 0 20px 0;
}
.blockText4 {
    text-transform: uppercase;
}
.blockTable {
    margin-top: 10px;
    border: 1px solid #7c8d9c;
    border-collapse: collapse;
}
.blockTable__value {
    border: 1px solid #7c8d9c;
    padding: 8px 13px;
    font-size: 14px;
}
.blockText5 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 30px;
}
.blockText5__price {
    color: #3a4d5c;
    font-size: 30px;
    padding-right: 15px;
    position: relative;
    top: 6px;
}
.blockButton {
    display: flex;
    font-size: 14px;
    margin-top: 25px;
}
.button1 {
    display: block;
    width: 160px;
    height: 35px;
    background: #37b0ae;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 20px;
    border: 1px solid #37b0ae;
}
.button2 {
    display: block;
    width: 160px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #7c8d9c;
}
.menu__items:hover {
    transform: scale(1.1);
    border-bottom: aquamarine solid 3px;
    color: lightgrey;
    transition: 0.1s;
}
.thumbnailImg1:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}
.blockTable__value-active:hover {
    cursor: pointer;
    background: lavender;
    color: black;
    transition: 0.3s;
}
.button__active:hover {
    cursor: pointer;
    background: lavender;
    color: black;
    border: 1px solid #7c8d9c;
    transition: 0.3s;
}
.blockText2__list::before {
    width: 4px;
    height: 4px;
    background-color: #37b0ae;
    content:"";
    float: left;
    margin: 11px 10px 0 0;
}
.footer {
    width: 100%;
    height: 50px;
    margin-top: 8%;
    background: #30918f;
    color: lavender;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text-up {
    text-transform: uppercase;
}